/*BODY START*/
body {
    margin: 20px;
    padding: 0;
    /*background-color: #FCA311;*/

}

hr {
    width: 90%;
    height: 1px;
    background-color: black;
}

a {
    text-decoration: none;
}


.profileImgSelect {
    border: 3px solid blue;
}

/*BODY END*/

/*STYLE FOR RATING STARS*/
.rate {
    float: left;
    height: 46px;
    padding: 0 10px;
}

.rate:not(:checked) > label {
    float: right;
    width: 1em;
    overflow: hidden;
    white-space: nowrap;
    cursor: pointer;
    font-size: 30px;
    color: #ccc;
}

.rate:not(:checked) > label:before {
    content: '★ ';
}

.rate > input:checked ~ label {
    color: #ffc700;
}

.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #deb217;
}

.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #c59b08;
}

/*STARS END*/


#banana {
    color: green;
    z-index: 1000;
    bottom: 200px;
}

.banana {
    position: relative;
    text-align: center;
    color: black;
}

.centered {
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}


@media screen and (min-width: 0px) and (max-width: 425px) {
    .desktopNav {
        display: none;
    }

    footer {
        display: flex;
        justify-content: center;
    }

    /*400 ERROR PAGE START*/
    #notFoundCenterBox{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #notFoundCenterBox p {
        font-size: 80px;
        font-weight: bolder;
        margin: 20px 0px;
    }

    #errLogo {
        width: 125px;
        height: 125px;
        border: 4px solid #ffb9ad;
        border-radius: 36px;
        margin: 40px auto;
    }

    #notFoundCenterBox a {
        font-size: 20px;
        color: blue;
    }

    /*400 ERROR PAGE END*/
    /*500 ERROR PAGE START*/
    #serverErrCenterBox{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #serverErrCenterBox p {
        font-size: 80px;
        font-weight: bolder;
        margin: 20px 0px;
    }

    #serverErrLogo {
        width: 125px;
        height: 125px;
        border: 4px solid #ffb9ad;
        border-radius: 36px;
        margin: 40px auto;
    }

    #serverErrCenterBox a {
        font-size: 20px;
        color: blue;
    }

    /*500 ERROR PAGE END*/
    /*PENDING PAGE START*/
    #pendingCenterBox {
        text-align: center;
        margin: 40px 20px;
    }

    #pendingCenterBox h4 {
        margin: 20px;
    }

    #pendingCenterBox a {
        font-size: 20px;
        color: blue;
    }

    /*PENDING PAGE END*/
    /*    NAV START */
    .mobileNav {
        display: flex;
        flex-grow: 2;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 45px;
    }

    .mobileNavImg {
        width: 65px;
        height: 65px;
    }

    .mobileLogo img {
        width: 120px;
        height: 120px;
        border: 3px solid #ffb9ad;
        border-radius: 36px;
        /*margin: 40px auto;*/
        /*position: relative;*/
    }

    /*    NAV END   */
    /*    INDEX START*/
    #map {
        margin: auto;
        width: 90%;
        height: 200px;
    }

    /*500 ERROR PAGE START*/
    #serverErrCenterBox{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
  }
      #searchBar {
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #clearFilterBtn {
        margin: 15px;
    }

    #filters h5 {
        margin-top: 15px;
    }

    /*    INDEX END*/
    /*    INDIVIDUAL START  */
    #mapDiv {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    #verifyTruckBtn {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    /*400 ERROR PAGE START*/
    #notFoundCenterBox{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
  }
      #individualTruck {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #menuBox {
        text-align: center;
        width: 90%;
    }

    #reviewBtn {
        display: flex;
        justify-content: center;
        margin-bottom: 25px;
    }

    #reviewItems {
        display: flex;
        flex-direction: column;
    }

    #reviewLeft img {
        width: 75px;
        height: 75px;
        border: 1px solid;
        border-radius: 50%;
    }

    #reviewContent {
        display: flex;
    }

    #reviewLeft {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-right: 15px;
        margin-bottom: 25px;
    }

    #activateBeaconBtn {
        display: flex;
        justify-content: center;
    }

    /*    INDIVIDUAL END    */
    /*    REVIEW START  */
    #reviewTop {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    #reviewTop img {
        max-width: 350px;
        max-height: 350px;
        margin-bottom: 50px;
    }


    #reviewMiddle {
        margin-bottom: 50px;
    }

    #reviewForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #submitReviewBtn {
        margin: 15px;
    }

    /*    REVIEW END    */
    /*    PROFILE START */
    #profileTop {
        display: flex;
        justify-content: center;
        align-items: center;
    }


    #profileMiddle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #profileMiddle img {
        max-width: 350px;
        max-height: 350px;
    }

    .userFavorites {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin-bottom: 25px;
    }

    #profileBottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    #profileBottom h3 {
        margin: 15px;
    }

    #profileReviews {
        text-align: center;
        border-top: 1px solid;
        margin: 15px;
    }

    /*    PROFILE END   */
    /*    EDIT USER START   */
    #editUserForm {
        text-align: center;
    }

    #avatar-choices h3 {
        margin: 15px;
    }

    #avatar-choices {
        margin: 5px;
    }

    #editUserBtns {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #editUserBtns button {
        margin: 15px;
    }

    #editUserBtns a {
        color: white;
    }


    /*    EDIT USER END     */
    /*    RESET PASSWORD START  */
    #resetPassForm {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 50px;
    }

    #resetPasswordBtns {
        margin-top: 15px;
    }

    #errLogo {
        width: 125px;
        height: 125px;
        border: 4px solid #ffb9ad;
        border-radius: 36px;
        margin: 40px auto;

    }

    /*    RESET PASSWORD END   */
    /*    LOGIN START   */
    .text-center {
        text-align: center;
    }

    #loginCenterBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 25px;
        margin-bottom: 5px;
    }

    #loginButton {
        margin-bottom: 15px;
    }

    #loginBottomBox {
        text-align: center;
        margin-bottom: 50px;
    }

    #loginButtonBox {
        display: flex;
        justify-content: center;
        margin-top: 5px;
    }

    /*    LOGIN END     */
    /*PENDING PAGE START*/
    #pendingCenterBox {
        text-align: center;
        margin: 40px 20px;
    }

    #pendingCenterBox h4 {
        margin: 20px;
    }

    #pendingCenterBox a {
        font-size: 20px;
        color: blue;
    }

    /*PENDING PAGE END*/
    /*@media screen and (min-width: 426px) and (max-width: 899px) {*/
    /*    .mobileNav {*/
    /*        display: none*/
    /*    }*/
    /*    !*500 ERROR PAGE START*!*/
    /*    #serverErrCenterBox{*/
    /*        text-align: center;*/
    /*        position: absolute;*/
    /*        top: 20%;*/
    /*        left: 36%;*/
    /*    }*/
    /*    #serverErrCenterBox p{*/
    /*        font-size: 80px;*/
    /*        font-weight: bolder;*/
    /*        margin: 20px 0px;*/
    /*    }*/
    /*    #serverErrLogo{*/
    /*        width: 125px;*/
    /*        height: 125px;*/
    /*        border-radius: 50%;*/
    /*    }*/
    /*    #serverErrCenterBox a {*/
    /*        font-size: 20px;*/
    /*        color: blue;*/
    /*    }*/
    /*    !*500 ERROR PAGE END*!*/
    /*    !*400 ERROR PAGE START*!*/
    /*    #notFoundCenterBox{*/
    /*        text-align: center;*/
    /*        position: absolute;*/
    /*        top: 20%;*/
    /*        left: 36%;*/
    /*    }*/
    /*    #notFoundCenterBox p{*/
    /*        font-size: 80px;*/
    /*        font-weight: bolder;*/
    /*        margin: 20px 0px;*/
    /*    }*/
    /*    #errLogo{*/
    /*        width: 125px;*/
    /*        height: 125px;*/
    /*        border-radius: 50%;*/
    /*    }*/
    /*    #notFoundCenterBox a{*/
    /*        font-size: 20px;*/
    /*        color: blue;*/
    /*    }*/
    /*    !*400 ERROR PAGE END*!*/
    /*}*/
}

@media screen and (min-width: 426px) and (max-width: 1800px) {
    /* NAV START*/
    .nav img {
    width: 125px;
    height: 125px;
    border: 4px solid #ffb9ad;
    border-radius: 36px;
    margin: 40px auto;
    position: relative;

}


.mobileNav {
        display: none;
    }

    .desktopNav {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 2;
        margin-bottom: 75px;
    }

    .desktopNav h2 {
        font-size: 2.5rem;
    }

    .desktopNav a {
        padding: 25px;
        font-size: 1.3rem;
    }

    .desktopNav button {
        font-size: 1.3rem;
    }

    #loggedRight {
        display: flex;
        align-items: center;
    }

    #truckRight {
        display: flex;
        align-items: center;
    }

    #adminNav {
        display: flex;
        flex-grow: 2;
        justify-content: space-between;
    }

    #adminNav h2 {
        font-size: 2.5rem;
    }

    #adminNav a {
        padding: 25px;
        font-size: 1.3rem;
    }

    #adminNav button {
        font-size: 1.5rem;
    }

    #adminRight {
        display: flex;
        align-items: center;
    }

    /*NAV END*/
    /* MAP START*/
    #map {
        width: 60%;
        height: 400px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 25px;
    }

    #mapDiv {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
    }

    .mapboxgl-popup{
        text-align: center;
    }

    /*MAP END*/
    /*TRUCK CARDS START*/
    .card img {
        height: 350px;
    }

    /*CARDS END*/
    /* SEARCH BAR START*/
    #searchBar {
        padding: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    #filters {
        display: flex;
        align-items: center;
        padding: 10px;
    }

    #filters form {
        padding: 15px;
    }

    #filters button {
        margin-bottom: 5px;
    }

    /* SEARCH END*/
    /*  FOOTER START    */
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 25px;
    }

    /*  FOOTER END  */
    /* CAROUSEL START */
    #carouselTruckPhotos img {
        width: 80%;
        height: 400px;
    }

    /* CAROUSEL END */
    /*  INDIVIDUAL VIEW START  */
    #topTruckBox {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #individualTruck {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #individualTruck img {
        width: 350px;
        height: 350px;
        margin-right: 25px;
    }

    #carouselTruckPhotos {
        margin-left: 100px;
        margin-right: 100px;
        margin-bottom: 75px;
    }

    #bottomBox {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    #reviewItems {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 60%;

    }

    .truck-reviews img {
        width: 75px;
        height: 75px;
        border: 1px solid;
        border-radius: 50%;
    }

    #reviewLeft {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #reviewItems #reviewText {
        text-align: center;
    }

    #reviewBtn {
        text-align: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    #reviewContent {
        display: flex;
        align-items: center;
    }

    #reviewContent div {
        padding: 15px;
    }

    #menuBox {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-top-left-radius: 37px 140px;
        border-top-right-radius: 23px 130px;
        border-bottom-left-radius: 110px 19px;
        border-bottom-right-radius: 120px 24px;
        display: block;
        position: relative;
        border: solid 3px #6e7491;
        padding: 40px 60px;
        max-width: 800px;
        width: 70%;
        margin: 100px auto 100px;
        font-size: 17px;
        line-height: 28px;
        transform: rotate(-1deg);
        box-shadow: 3px 15px 8px -10px rgba(0, 0, 0, 0.3);
        transition: all 0.13s ease-in;
    }

    #verifyTruckBtn{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
#ghost{
    display: flex;
    justify-content: center;
}
#triangulateBtn{
    display: flex;
    justify-content: center;
}
#truckDescription {
    text-align: center;
}
#activateBeaconBtn{
    display: flex;
    justify-content: center;
}

    /*  INDIVIDUAL END  */





    /* REVIEW START   */
    #reviewTop {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #reviewTop img {
        object-fit: fill;
        height: 550px;
        width: 850px;
    }

    #reviewTop h1 {
        text-align: center;
    }

    #reviewMiddle {
        margin-top: 75px;
        margin-bottom: 75px;
    }

    #reviewMiddle img {
        width: 80%;
        height: 400px;
    }

    #reviewBottom form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*  REVIEW END  */
    /*  VIEW USER VIEW START  */
    #profileTop {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 50px;
    }

    #profileTop img {
        margin-right: 15px;
    }

    #profileTop img {
        width: 150px;
        height: 150px;
    }

    #profileMiddle img {
        width: 350px;
        height: 350px;
    }

    #profileMiddle {
        display: flex;
        flex-direction: column;
        margin-bottom: 75px;
    }

    #profileMiddle h3 {
        text-align: center;
        margin-bottom: 40px;
    }

    #deleteFavoriteBtn {
        background-color: red;
        margin-bottom: 20px;
    }

    .userFavorites {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 25px;
    }

    #profileBottom h3 {
        text-align: center;
        margin-bottom: 45px;
        margin-top: 45px;
    }

    #profileReviews {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 40px;
        padding-bottom: 40px;
        margin: auto;
        width: 70%;
        text-align: center;
        border-top: 1px solid black;
    }

    /*  VIEW USER END */
    /*  EDIT USER START  */
    #editUserForm {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #editUserForm form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
#editUserBtns{
    margin-top: 45px;
    text-align: center;
}
#editUserBtns a{
    color: white;
}
#editUserBtns button{
    margin: 15px;
}
    .avatar {
        padding-left: 15px;
        padding-right: 15px;
    }

    /*  EDIT USER END    */


    /*  EDIT MENU START */
    #editMenuForm{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    #editMenuForm h3{
        text-align: center;
        margin-bottom: 20px;
    }
    #editMenuFormBtn{
        display: flex;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 65px;
    }
    #veganOrVegitarian{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }
    #menuList{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    #menuList div{
        padding: 25px;
        border-top: 1px solid black;
    }

    /*  EDIT MENU END   */


    /*  REGISTER START  */
    #registerForm{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #registerForm form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    #registerForm label{
        padding: 10px;
    }
    #registerBtn{
        margin-top: 15px;
        text-align: center;
    }
    #alreadyMember{
        display: flex;
        justify-content: center;
        margin-top: 35px;
    }
    /*  REGISTER END    */


    /*  EDIT TRUCK START    */
    #editTruckTop{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
#editTruckFormBtn{
display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 35px;
}
#truckCuisinesForm{
    display: flex;
    margin: 15px;

}
.truckCuisinesForm{
    margin-left: 45px;
    margin-right: 45px;
}
#editTruckButton{
    display: flex;
    justify-content: center;
    margin-bottom: 75px;
}
#editTruckBtns{
    margin-top: 45px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
#editTruckBtns button{
    margin: 20px;
}
#editTruckBtns a{
    text-decoration: none;
    color: white;
}
#editTruckForm{
display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
    /*  EDIT TRUCK END    */



    /*  ABOUT VIEW START  */
    #aboutContainer {
        display: flex;
        align-items: flex-start;
    }

    #aboutContainer a {
        font-size: 2rem;
        padding-right: 10px;
        /*padding-top: 20px;*/
    }

    #aboutContainer p {
        margin: 5px;
    }

    #aboutContainer img {
        max-width: 300px;
        max-height: 300px;
        border: 1px solid;
        border-radius: 5%;
        margin-bottom: 10px;
    }

    .aboutBox {
        margin-top: 25px;
        margin-left: 5px;
        margin-right: 5px;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }

    /*  ABOUT END   */


    /*LOGIN PAGE START*/
    .loginCenter{
        text-align: center;
    }

    #loginButton{
        margin-top: 15px;
        width: 20%;
    }

    .loginFormFieldSize{
        width:35%;
    }

    #loginCenterBox{

    }

    #loginBottomBox{
        margin-top: 20px;
    }
    /*LOGIN PAGE END*/


    /*FORGOT PASSWORD PAGE START*/
    #forgotPasscenterBox{
        text-align: center;
    }

    #forgotPassFormButtons{
        margin-top: 15px;
    }

    #forgotPasscenterBox #email{
        width: 20%;
    }

    #forgotPassClear{
        width: 67.17px;
    }
    /*FORGOT PASSWORD PAGE END*/

    /*400 ERROR PAGE START*/
    #notFoundCenterBox{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #notFoundCenterBox p{
        font-size: 80px;
        font-weight: bolder;
        margin: 20px 0px;
    }

    #errLogo{
        width: 125px;
        height: 125px;
        border: 4px solid #ffb9ad;
        border-radius: 36px;
        margin: 40px auto;
    }

    #notFoundCenterBox a{
        font-size: 20px;
        color: blue;
    }
    /*400 ERROR PAGE END*/


    /*500 ERROR PAGE START*/
    #serverErrCenterBox{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    #serverErrCenterBox p{
        font-size: 80px;
        font-weight: bolder;
        margin: 20px 0px;
    }

    #serverErrLogo{
        width: 125px;
        height: 125px;
        border: 4px solid #ffb9ad;
        border-radius: 36px;
        margin: 40px auto;
    }

    #serverErrCenterBox a {
        font-size: 20px;
        color: blue;
    }
    /*500 ERROR PAGE END*/


    /*PENDING PAGE START*/
    #pendingCenterBox{
        text-align: center;
        margin: 40px 20px;
    }

    #pendingCenterBox h4{
        margin: 20px;
    }

    #pendingCenterBox a{
        font-size: 20px;
        color: blue;
    }

    /*PENDING PAGE END*/


    /*  ADMIN VIEW START  */
    .adminCol{
        text-align: center;
       border: 1px solid black;
        margin: 15px;
    }
    .adminCol h3{
        margin-top: 35px;
    }
    #usersList button{
        margin-bottom: 50px;
    }
    #usersList div{
        border-top: 1px solid black;
    }
    #usersList dl:nth-of-type(1){
        margin-top: 35px;
    }
    #trucksList button{
        margin-bottom: 50px;
    }
    #trucksList div{
        border-top: 1px solid black;
    }
    #trucksList dl:nth-of-type(1){
        margin-top: 35px;
    }
    #reviewsList button{
        margin-bottom: 50px;
    }
    #reviewsList div{
        border-top: 1px solid black;
    }
    #reviewsList dl:nth-of-type(1){
        margin-top: 35px;
    }
    .adminCol form{
        margin-bottom: 35px;
    }
    .adminCol form{
        margin-bottom: 35px;
    }
    .adminCol form{
        margin-bottom: 35px;
    }
    /*  ADMIN VIEW END    */

    /*  APPROVE VIEW START  */
    #pendingUserForms{
        display: flex;
        border: 1px solid black;
        align-items: center;
        justify-content: center;
        padding: 5px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 15px;
        width: 50%;
        flex-direction: column;
    }
    #pendingUserForms label{
        padding-right: 20px;
    }
    #approvalH2{
        text-align: center;
        margin-top: 15px;
        margin-bottom: 20px;
    }
    #adminApproveBtn{
        display: flex;
        justify-content: center;
    }
    #rejectBtn{
        display: flex;
        justify-content: center;
    }
    /*  APPROVE END    */

/*    RESET PASSWORD START  */
    #resetPassForm{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #resetPassForm div{
        padding: 10px;
    }
/*    RESET PASS END    */

/*    EDIT REVIEW START */
    #editUserReviewForm{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    #editReviewDeleteBtn{
        display: flex;
        justify-content: center;
        margin-top: 25px;
    }

/*    EDIT REVIEW END   */
}
