
<!--HEAD PARTIAL START-->
<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <!DOCTYPE html>
    <html xmlns:th="http://www.thymeleaf.org">
    <meta charset="UTF-8"/>
    <title>FoodTruckFinder</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="/main.css">
    </head>
<!--    HEAD END-->



<!--    LOGGED NAV START-->
    <nav th:fragment="loggedNav">
        <nav>
            <h2>FootTruckFinder</h2>
            <div>
                <p>Profile Page</p>
                <p>Edit Profile</p>
                <p>Logout</p>
            </div>
        </nav>
    </nav>
<!--    LOGGED NAV END-->



<!--    NOT LOGGED NAV START-->
    <nav th:fragment="notLoggedNav">
        <nav>
            <h2>FoodTruckFinder</h2>
            <div>
                <p>Login</p>
                <p>Register</p>
            </div>
        </nav>
    </nav>
<!--    NOT LOGGED NAV END-->




<!--    FOOTER PARTIAL START-->
    <footer th:fragment="footer">
        <div class="container">
            <footer class="d-flex flex-wrap border-top">

            </footer>
        </div>
        </body>
    </html>
    </footer>
<!-- FOOTER END-->