<head th:replace="partials/partials :: head"></head>

<nav th:replace="partials/partials :: loggedNav"></nav>
<nav th:replace="partials/partials :: notLoggedNav"></nav>


<div>
  <div>
    <p>Add map from API</p>
    <img src=""><p>Verified at location by Truck owner</p>
    <img src=""><p>Verified by <span>#</span> of visitors</p>
  </div>
  <div>
    <h3 th:text="${truck.name}"></h3>
    <p th:each="cuisine : ${truck.cuisines}">Truck Cuisines: <span th:text="${cuisine.name}"></span></p>
    <p>Phone Number: <span th:text="${truck.phone}"></span></p>
    <p th:text="${truck.description}"></p>
  </div>
  <div>
    <div id="carouselTruckPhotos" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselIndicators" data-slide-to="1"></li>
        <li data-target="#carouselIndicators" data-slide-to="2"></li>
        <li data-target="#carouselIndicators" data-slide-to="3"></li>
        <li data-target="#carouselIndicators" data-slide-to="4"></li>
      </ol>
      <div th:each="truckPicture, something : ${truck.truckPictures}" class="carousel-inner">
        <div th:if="${something.index == 1}" class="carousel-item active">
          <img th:src="${truckPicture.picture}" class="d-block w-100" alt="...">
        </div>
        <div th:unless="${something.index != 1}" class="carousel-item">
          <img th:src="${truckPicture.picture}" class="d-block w-100" alt="...">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-target="#carouselExampleIndicators" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-target="#carouselExampleIndicators" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </button>
    </div>
  </div>
</div>

<div>
  <p>Menu Items:</p>
  <div th:each="menu : ${truck.menu}" class="menu-items">
    <span th:text="${menu.name}"></span>
  </div>
  <p>Reviews:</p>
  <div th:each="review : ${reviews}" class="truck-reviews">
    <span th:text="${review.review}"></span>
  </div>
</div>


<footer th:replace="partials/partials :: footer"></footer>