<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Server Error</title>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
    <div id="serverErrCenterBox">
        <img id="serverErrLogo" src="/img/Streat.png" alt="">
        <p>500</p>
        <h1>Ooooooops!</h1>
        <h3>It's Broken!</h3>
        <a href="/">Return To Home Page Here</a>
    </div>
</body>
</html>