<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<title>StreatFoods</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	<link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
	<script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
	<link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
	<nav th:replace="partials :: #adminNav"></nav>
	<div id="show"></div>
	<div class="container mt-5">
		<div class="row">
			<div class="col adminCol">
				<h3>User Profiles</h3>
				<form th:action="@{/admin}" method="post">
					<input type="text" name="usernameSearch" placeholder="Username">
					<input type="hidden" name="searchType" value="user">
					<button type="submit" class="btn btn-primary">Search</button>
				</form>
				<div id="usersList"></div>
			</div>
			<div class="col adminCol">
				<h3>Truck Profiles</h3>
				<form th:action="@{/admin}" method="post">
					<input type="text" name="truckSearch" placeholder="Truck Name">
					<input type="hidden" name="searchType" value="truck">
					<button type="submit" class="btn btn-primary">Search</button>
				</form>
				<div id="trucksList"></div>
			</div>
			<div class="col adminCol">
				<h3>Reviews</h3>
				<form th:action="@{/admin}" method="post">
					<input type="text" name="reviewSearch" placeholder="Review Text">
					<input type="hidden" name="searchType" value="review">
					<button type="submit" class="btn btn-primary">Search</button>
				</form>
				<div id="reviewsList"></div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="userEditModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit User</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form th:action="@{/adminEditUser}" method="post">
					<div class="modal-body">
						<label>Username <input type="text" name="userUsername" id="userUsername"></label>
						<label>Email <input type="text" name="userEmail" id="userEmail"></label>
						<label>Truck Owner <input type="checkbox" name="userTruckOwner" id="userTruckOwner"></label>
						<label>Admin <input type="checkbox" name="userAdmin" id="userAdmin"></label>
						<input type="hidden" name="userId" id="userId">
					</div>
					<button type="submit" class="btn btn-primary">Save Changes</button>
				</form>
				<form th:action="@{/deleteUser}" method="post">
					<input type="hidden" name="userId" id="deleteUserId">
					<button type="submit" class="btn btn-danger">Delete</button>
				</form>
			</div>
		</div>
	</div>
	<div class="modal fade" id="truckEditModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Truck</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form th:action="@{/adminEditTruck}" method="post">
					<div class="modal-body">
						<label>Name <input type="text" name="truckName" id="truckName"></label>
						<label>Description <input type="text" name="truckDescription" id="truckDescription"></label>
						<input type="hidden" name="truckId" id="truckId">
					</div>
					<button type="submit" class="btn btn-primary">Save Changes</button>
				</form>
				<form th:action="@{/deleteTruck}" method="post">
					<input type="hidden" name="truckId" id="deleteTruckId">
					<button type="submit" class="btn btn-danger">Delete</button>
				</form>
			</div>
		</div>
	</div>
	<div class="modal fade" id="reviewEditModal" tabindex="-1">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Edit Review</h5>
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<form th:action="@{/adminEditReview}" method="post">
					<div class="modal-body">
						<dl>
							<dt>Food Truck</dt>
							<dd id="reviewTruck"></dd>
							<dt>Author</dt>
							<dd id="reviewAuthor"></dd>
						</dl>
						<label>Rating <input type="number" name="reviewRating" id="reviewRating" max="5" min="0">
						</label>
						<label>Description <input type="text" name="reviewText" id="reviewText"></label>
						<input type="hidden" name="reviewId" id="reviewId">
					</div>
					<button type="submit" class="btn btn-primary">Save Changes</button>
				</form>
				<form th:action="@{/deleteReview}" method="post">
					<input type="hidden" name="reviewId" id="deleteReviewId">
					<button type="submit" class="btn btn-danger">Delete</button>
				</form>
			</div>
		</div>
	</div>
	<div th:replace="partials :: scripts"></div>
	<script th:inline="javascript">
		let usersDiv = document.getElementById("usersList");
		let trucksDiv = document.getElementById("trucksList");
		let reviewsDiv = document.getElementById("reviewsList");
		let usersList = [];
		let trucksList = [];
		let reviewsList = [];
		/*<![CDATA[*/
		/*[# th:each="user : ${users}"]*/
		usersList.push({
			id: /*[[${user.getId()}]]*/,
			username: /*[[${user.getUsername()}]]*/,
			email: /*[[${user.getEmail()}]]*/,
			truckOwner: /*[[${user.isTruckOwner()}]]*/,
			admin: /*[[${user.isAdmin()}]]*/
		});
		/*[/]*/
		/*[# th:each="truck : ${trucks}"]*/
		trucksList.push({
			id: /*[[${truck.getId()}]]*/,
			name: /*[[${truck.getName()}]]*/,
			description: /*[[${truck.getDescription()}]]*/
		});
		/*[/]*/
		/*[# th:each="review : ${reviews}"]*/
		reviewsList.push({
			id: /*[[${review.getId()}]]*/,
			truck: /*[[${review.getTruck().getName()}]]*/,
			author: /*[[${review.getUser().getUsername()}]]*/,
			rating: /*[[${review.getRating()}]]*/,
			reviewText: /*[[${review.getReviewText()}]]*/
		});
		/*[/]*/
		/*]]>*/
		usersList.forEach(user => {
			let userDiv = document.createElement("div");
			let userDivHtml = "<dl><dt>Profile ID</dt><dd>" + user.id + "</dd><dt>Username</dt><dd>" + user.username + "</dd><dt>Email</dt><dd>" + user.email + "</dd><dt>Roles</dt><dd>";
			if (user.truckOwner || user.admin) {
				if (user.truckOwner) {
					userDivHtml += "<em>truck owner</em>"
				}
				if (user.admin) {
					userDivHtml += "<em>admin</em>"
				}
			} else {
				userDivHtml += "<em>none</em>"
			}
			userDivHtml += "</dd></dl>"
			userDiv.innerHTML = userDivHtml;
			let editUserButton = document.createElement("button");
			editUserButton.setAttribute("type", "button");
			editUserButton.setAttribute("class", "btn btn-primary");
			editUserButton.setAttribute("data-toggle", "modal");
			editUserButton.setAttribute("data-target", "#userEditModal");
			editUserButton.innerText = "Edit";
			editUserButton.addEventListener("click", () => {
				document.getElementById("userId").value = user.id;
				document.getElementById("userUsername").value = user.username;
				document.getElementById("userEmail").value = user.email;
				document.getElementById("userTruckOwner").checked = !!user.truckOwner;
				document.getElementById("userAdmin").checked = !!user.admin;
				document.getElementById("deleteUserId").value = user.id;
			});
			userDiv.append(editUserButton);
			usersDiv.append(userDiv);
		});
		trucksList.forEach(truck => {
			let truckDiv = document.createElement("div");
			truckDiv.innerHTML = "<dl><dt>Truck ID</dt><dd>" + truck.id + "</dd><dt>Name</dt><dd>" + truck.name + "</dd><dt>Description</dt><dd>" + truck.description + "</dd></dl>";
			let editTruckButton = document.createElement("button");
			editTruckButton.setAttribute("type", "button");
			editTruckButton.setAttribute("class", "btn btn-primary");
			editTruckButton.setAttribute("data-toggle", "modal");
			editTruckButton.setAttribute("data-target", "#truckEditModal");
			editTruckButton.innerText = "Edit";
			editTruckButton.addEventListener("click", () => {
				document.getElementById("truckId").value = truck.id;
				document.getElementById("truckName").value = truck.name;
				document.getElementById("truckDescription").value = truck.description;
				document.getElementById("deleteTruckId").value = truck.id;
			});
			truckDiv.append(editTruckButton);
			trucksDiv.append(truckDiv);
		});
		reviewsList.forEach(review => {
			let reviewDiv = document.createElement("div");
			reviewDiv.innerHTML = "<dl><dt>Review ID</dt><dd>" + review.id + "</dd><dt>Truck</dt><dd>" + review.truck + "</dd><dt>Author</dt><dd>" + review.author + "</dd><dt>Rating</dt><dd>" + review.rating + "</dd><dt>Review Text</dt><dd>" + review.reviewText + "</dd></dl>";
			let editReviewButton = document.createElement("button");
			editReviewButton.setAttribute("type", "button");
			editReviewButton.setAttribute("class", "btn btn-primary");
			editReviewButton.setAttribute("data-toggle", "modal");
			editReviewButton.setAttribute("data-target", "#reviewEditModal");
			editReviewButton.innerText = "Edit";
			editReviewButton.addEventListener("click", () => {
				document.getElementById("reviewId").value = review.id;
				document.getElementById("reviewTruck").innerText = review.truck;
				document.getElementById("reviewAuthor").innerText = review.author;
				document.getElementById("reviewRating").value = review.rating;
				document.getElementById("reviewText").value = review.reviewText;
				document.getElementById("deleteReviewId").value = review.id;
			});
			reviewDiv.append(editReviewButton);
			reviewsDiv.append(reviewDiv);
		});
	</script>
</body>
</html>