<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<title>StreatFoods</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	<link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
	<script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
	<link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>


	<nav th:replace="partials :: #adminNav"></nav>



<div id="show"></div>
	<div class="container">
		<div class="row">
			<div id="adminUserDelete" class="col">
				<h3>Standard Users</h3>
				<form th:action="@{/admin}" method="post">
					<input type="text" name="usernameSearch" placeholder="Username">
					<input type="hidden" name="searchType" value="user">
					<button type="submit" class="btn btn-light">Search</button>
				</form>
				<div class="adminBoxes" th:if="${!user.isTruckOwner()}" th:each="user : ${users}">
					<dl>
						<dt>Profile ID</dt>
						<dd th:text="${user.id}"></dd>
						<dt>Username</dt>
						<dd th:text="${user.username}"></dd>
						<dt>Email</dt>
						<dd th:text="${user.email}"></dd>
					</dl>
					<form th:action="@{/deleteUser}" th:method="post">
						<input hidden th:value="${user.id}" name="userId">
						<button type="submit" class="btn btn-danger">DELETE</button>
					</form>
				</div>
			</div>
			<div id="adminTruckDelete" class="col">
				<h3>Truck Profiles</h3>
				<form th:action="@{/admin}" method="post">
					<input type="text" name="truckSearch" placeholder="Truck Name">
					<input type="hidden" name="searchType" value="truck">
					<button type="submit" class="btn btn-light">Search</button>
				</form>
				<div class="adminBoxes" th:each="truck : ${trucks}">
					<dl>
						<dt>Truck ID</dt>
						<dd th:text="${truck.id}"></dd>
						<dt>Truck Name</dt>
						<dd th:text="${truck.name}"></dd>
						<dt>Phone Number</dt>
						<dd th:text="${truck.phone}"></dd>
					</dl>
					<form th:action="@{/deleteTruck}" th:method="post">
						<input hidden th:value="${truck.id}" name="truckId">
						<button type="submit" class="btn btn-danger">DELETE</button>
					</form>
				</div>
			</div>
			<div id="adminReviewDelete" class="col">
				<h3>Reviews</h3>
				<form th:action="@{/admin}" method="post">
					<input type="text" name="reviewSearch" placeholder="Review Name">
					<input type="hidden" name="searchType" value="review">
					<button type="submit" class="btn btn-light">Search</button>
				</form>
				<div class="adminBoxes" th:each="review : ${reviews}">
					<dl>
						<dt>Truck Name</dt>
						<dd th:text="${review.truck.name}"></dd>
						<dt>Author</dt>
						<dd th:text="${review.user.username}"></dd>
						<dt>Rating</dt>
						<dd th:text="${review.rating}"></dd>
						<dt>Review Text</dt>
						<dd th:text="${review.reviewText}"></dd>
					</dl>
					<form th:action="@{/deleteReview}" th:method="post">
						<input hidden th:value="${review.id}" name="reviewId">
						<button type="submit" class="btn btn-danger">DELETE</button>
					</form>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="partials :: footer"></footer>

