<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Get a new password</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Pattaya&family=Righteous&display=swap" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/main.css}">
	<link rel="stylesheet" th:href="@{/konami.js}">
</head>
<body>
	<div>
		<nav th:replace="partials :: notLoggedNav"></nav>
	</div>
	<div class="text-center">
		<h1>Forgot Password?</h1>
		<br class="mobileBreak">
	</div>
	<div id="forgotPasscenterBox">
		<form th:action="@{/forgotPassword}" th:object="${user}" method="post">
			<label for="email" th:field="*{email}">Enter Your Email:</label>
			<br>
			<input type="text" id="email" name="email">
			<br>
			<div id="forgotPassFormButtons">
				<button class="btn btn-danger" id="forgotPassClear" type="reset">Clear</button>
				<button class="btn btn-green" type="submit">Submit</button>
			</div>
		</form>
	</div>
	<footer th:replace="partials :: footer"></footer>
	<div th:replace="partials :: scripts"></div>
</body>
</html>