<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<title>StreatFoods</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	<link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
	<script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Pattaya&family=Righteous&display=swap" rel="stylesheet">
	<link rel="stylesheet" th:href="@{/main.css}">
	<link rel="stylesheet" th:href="@{/konami.js}">
</head>
<body>
	<div sec:authorize="isAuthenticated()" th:if="${!#authentication.principal.isAdmin}">
		<nav th:if="${!#authentication.principal.isTruckOwner}">
			<nav th:replace="partials :: loggedNav"></nav>
		</nav>
		<nav th:if="${#authentication.principal.isTruckOwner}">
			<nav th:replace="partials :: truckNav"></nav>
		</nav>
	</div>
	<div sec:authorize="!isAuthenticated()">
		<nav th:replace="partials :: notLoggedNav"></nav>
	</div>
	<div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.isAdmin}">
		<nav th:replace="partials :: #adminNav"></nav>
	</div>
	<div id="searchBar">
		<h5>Food Truck Filters</h5>
		<div>
			<form th:action="@{/search}" method="post">
				<input type="text" name="search" placeholder="Search by Name">
				<button type="submit" class="btn btn-blue"><i class="bi bi-search"></i> Search</button>
			</form>
		</div>
		<div id="filters">
			<form th:action="@{/filter}" method="post">
				<label for="cuisineSelect">Cuisine</label>
				<select name="filterCuisine" id="cuisineSelect">
					<option value="all" selected></option>
					<option value="all">all cuisines</option>
					<div th:each="cuisine : ${cuisines}">
						<option th:value="${cuisine.name}" th:text="${cuisine.name}"></option>
					</div>
				</select>
				<br class="mobileBreak">
				<label class="ml-3" for="veganCheck">Vegan</label>
				<input type="checkbox" id="veganCheck" name="vegan">
				<label for="vegetarianCheck">Vegetarian</label>
				<input class="mr-3" type="checkbox" id="vegetarianCheck" name="vegetarian">
				<br class="mobileBreak">
				<button type="submit" class="btn btn-green">Apply Filters</button>
			</form>
			<a th:href="@{/}">
				<button id="clearFilterBtn" type="submit" class="btn btn-danger">Clear Filters</button>
			</a>
		</div>
	</div>
	<div id="map"></div>
	<h1 th:if="${trucks.size()} == 0">No Results :(</h1>
	<div id="allTrucks" class="row">
		<div class="col-lg-4 col-md-4 col-sm-12 truckDiv" th:each="truck : ${trucks}">
			<div class="card mb-5">
				<img th:attr="src=${truck.profile_picture}" class="card-img-top px-3 py-3" alt="...">
				<div class="card-body">
					<a th:href="@{/truck/{id}/show(id=${truck.id})}"><h5 class="truck-name">
						<span th:text="${truck.name}"></span></h5></a>
					<dl>
						<br>
						<dt>Truck Cuisines</dt>
						<dd th:if="${truck.cuisines.size() == 0}"><em class="m-2">unknown</em></dd>
						<dd th:if="${truck.cuisines.size() > 0}">
							<em th:each="cuisine : ${truck.cuisines}" th:text="${cuisine.name}" class="m-2"></em></dd>
						<br>
						<dt>Average Rating</dt>
						<dd>
							<span class="m-2"><span th:style="'background-image:linear-gradient(to right, rgb(255,215,0,1) ' + ${truck.averageRatingPercent()} + '%, rgba(0,0,0,1)' + ${truck.averageRatingPercent()} + '%);-webkit-background-clip:text;-webkit-text-fill-color:transparent'">&#9733;&#9733;&#9733;&#9733;&#9733;</span>
							<em>(<span th:text="${truck.getReviews().size()}"></span> reviews)</em></span>
							<br>
						</dd>
					</dl>
					<a href="#map">
						<button th:data-longitude="${truck.getLongitude()}" th:data-latitude="${truck.getLatitude()}" class="btn btn-blue truckLocationButton">
							Show on map
						</button>
					</a>
					<button th:data-latitude="${truck.getLatitude()}" th:data-longitude="${truck.getLongitude()}" class="btn btn-blue directionsButton">
						Get Directions
					</button>
				</div>
			</div>
		</div>
	</div>
	<footer th:replace="partials :: footer"></footer>
	<div th:replace="partials :: scripts"></div>
	<script src='https://unpkg.com/@turf/turf@6/turf.min.js'></script>
	<script th:inline="javascript">
		mapboxgl.accessToken = 'pk.eyJ1IjoiaG9kZ2VzY29keTAwIiwiYSI6ImNreXVtOG5odDFvc2EycHBlaHhpMzF1c3QifQ.6g0ZKujuRweI-lJkBKuWAQ';
		const map = new mapboxgl.Map({
			container: 'map', // container ID
			style: 'mapbox://styles/mapbox/streets-v11', // style URL
			center: [-98.4946, 29.4252], // starting position [lng, lat]
			zoom: 5, // starting zoom
			cooperativeGestures: true
		});
		map.addControl(new mapboxgl.FullscreenControl());
		map.addControl(
			new mapboxgl.GeolocateControl({
				positionOptions: {
					enableHighAccuracy: true
				},
				trackUserLocation: true,
				showUserHeading: true
			})
		);
		map.addControl(new mapboxgl.NavigationControl());
		let trucks = [];
		/*<![CDATA[*/
		/*[# th:each="truck : ${trucks}"]*/
		trucks.push({
			id: /*[[${truck.getId()}]]*/,
			longitude: /*[[${truck.getLongitude()}]]*/,
			latitude: /*[[${truck.getLatitude()}]]*/,
			name: /*[[${truck.getName()}]]*/,
			averageRatingPercent: /*[[${truck.averageRatingPercent()}]]*/
		});
		/*[/]*/
		/*]]>*/
		trucks.forEach((truck, index) => {
			const marker = new mapboxgl.Marker()
				.setLngLat([truck.longitude, truck.latitude])
				.setPopup(new mapboxgl.Popup().setHTML("<a href='/truck/" + truck.id + "/show'><h4>" + truck.name + "</h4></a><p style='margin-bottom: 0'>Rating:</p><span style='background-image:linear-gradient(to right, rgb(255,215,0,1) " + truck.averageRatingPercent + "%, rgba(0,0,0,1)" + truck.averageRatingPercent + "%);-webkit-background-clip:text;-webkit-text-fill-color:transparent'>&#9733;&#9733;&#9733;&#9733;&#9733;</span>"))
				.addTo(map);
		});
		document.querySelectorAll(".truckLocationButton").forEach(buttonElement => {
			if (buttonElement.getAttribute("data-longitude") == null) {
				buttonElement.setAttribute("style", "visibility: hidden");
			}
			buttonElement.addEventListener("click", (event) => {
				map.flyTo({
					center: [buttonElement.getAttribute("data-longitude"), buttonElement.getAttribute("data-latitude")],
					essential: true,
					zoom: 15
				});
			});
		});
		document.querySelectorAll(".directionsButton").forEach(button => {
			if (button.getAttribute("data-longitude") == null) {
				button.setAttribute("style", "visibility: hidden");
			}
			button.addEventListener("click", () => {
				window.open("http://maps.apple.com/?daddr=" + button.getAttribute("data-latitude") + "," + button.getAttribute("data-longitude"), "_blank");
			});
		});
		navigator.geolocation.getCurrentPosition(currentPosition => {
			let truckDivs = Array.from(document.getElementsByClassName("truckDiv"));
			let allTrucks = document.getElementById("allTrucks");
			while (allTrucks.firstChild) {
				allTrucks.removeChild(allTrucks.firstChild);
			}
			let orderedByDistance = [];
			trucks.forEach((truck, index) => {
				let distance;
				if (!!truck.longitude) {
					distance = turf.distance(turf.point([currentPosition.coords.longitude, currentPosition.coords.latitude]), turf.point([truck.longitude, truck.latitude]), {units: "miles"});
				} else {
					distance = 24902;
				}
				orderedByDistance.push({
					truckDiv: truckDivs[index],
					distanceFromUser: distance
				});
			});
			orderedByDistance.sort((a, b) => {
				if (a.distanceFromUser > b.distanceFromUser) {
					return 1;
				}
				if (a.distanceFromUser < b.distanceFromUser) {
					return -1;
				}
				return 0;
			});
			orderedByDistance.forEach(truck => {
				let distanceDiv = document.createElement("div");
				distanceDiv.innerHTML = "<em>Not on location</em>"
				if (truck.distanceFromUser < 24902) {
					distanceDiv.innerHTML = "<em>" + truck.distanceFromUser.toFixed(1) + " miles away</em>";
				}
				truck.truckDiv.firstElementChild.firstElementChild.nextElementSibling.firstElementChild.insertAdjacentElement("afterend", distanceDiv);
				allTrucks.append(truck.truckDiv);
			});
		});
	</script>
	<script src="/js/konami.js"></script>
</body>
</html>