<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="Partials/partials :: head">
        <meta charset="UTF-8">
        <title>Login</title>
    </head>
    <body>
    <nav th:replace="Partials/partials :: notLoggedNav"></nav>

        <div class="text-center">
            <h1>Food Truck Finder</h1>
            <h2>Please Log In</h2>
        </div>
        <div>
            <form>
                <label for="username">Username:</label><br>
                <input type="text" id="username" name="username"><br>
                <label for="password">Password:</label><br>
                <input type="text" id="password" name="password">
                <input type="submit" value="Login">
            </form>
        </div>

        <footer th:replace="Partials/partials :: footer"></footer>
    </body>
</html>