<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
	<title>StreatFoods</title>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
	<link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
	<script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>
	<link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>
	<nav th:replace="partials :: notLoggedNav"></nav>
	<div id="pendingCenterBox">
		<h2>Pending Approval</h2>
		<h4>
			Thank you for applying as a truck owner! We are processing your application and will email you when you have been approved. -StreatFoods Team
		</h4>
		<a href="/">Return To Home Page Here</a>
	</div>
	<footer id="pendingFooter" th:replace="partials :: footer"></footer>
	<div th:replace="partials :: scripts"></div>
</body>
</html>