<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pending Approval</title>
</head>
<body>
	<div>
		<nav th:replace="partials :: notLoggedNav"></nav>
	</div>
	<div>
		Thank you for applying as a truck owner! We are processing your application and will email you when you have
		been approved. Until then, please enjoy this banana. -Food Truck Finder Team
	</div>
	<img src="https://th-thumbnailer.cdn-si-edu.com/4Nq8HbTKgX6djk07DqHqRsRuFq0=/1000x750/filters:no_upscale()/https://tf-cmsv2-smithsonianmag-media.s3.amazonaws.com/filer/d5/24/d5243019-e0fc-4b3c-8cdb-48e22f38bff2/istock-183380744.jpg" alt="banana">
</body>
</html>