<head th:replace="partials :: head"></head>

<nav th:replace="partials :: loggedNav"></nav>

<nav th:replace="partials :: notLoggedNav"></nav>

<div>
    <div style="border:solid 2px red">This will hold a profile picture</div>
    <div style="border:solid 2px black">This will hold user info</div>
</div>

<div>
<h3>My Favorites</h3>

<div>This will hold a users favorites</div>

<h3>My Reviews</h3>
</div>

<div>This will hold a users reviews</div>

<footer th:replace="partials :: footer"></footer>

