<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StreatFoods</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <link href="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.css" rel="stylesheet">
    <script src="https://api.mapbox.com/mapbox-gl-js/v2.8.2/mapbox-gl.js"></script>

    <link rel="stylesheet" th:href="@{/main.css}">
</head>
<body>

<div sec:authorize="isAuthenticated()" th:if="${!#authentication.principal.isAdmin}">
    <nav th:if="${!#authentication.principal.isTruckOwner}">
        <nav th:replace="partials :: loggedNav"></nav>
    </nav>
    <nav th:if="${#authentication.principal.isTruckOwner}">
        <nav th:replace="partials :: truckNav"></nav>
    </nav>
</div>
<div sec:authorize="!isAuthenticated()">
    <nav th:replace="partials :: notLoggedNav"></nav>
</div>
<div sec:authorize="isAuthenticated()" th:if="${#authentication.principal.isAdmin}">
    <nav th:replace="partials :: #adminNav"></nav>
</div>



<div class="container">
        <div>
            <h1 th:text="${truck.name}"></h1>
            <img th:src="${truck.profile_picture}" alt="">
        </div>

            <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div th:if="${stat.first}" th:each="truckPicture, stat : ${truck.getTruckPictures}" class="carousel-item active">
                        <img class="d-block w-100" th:src="${truckPicture.picture}" alt="First slide">
                    </div>

                    <div th:unless="${stat.first}" th:each="truckPicture, stat : ${truck.getTruckPictures}" class="carousel-item">
                        <img class="d-block w-100" th:src="${truckPicture.picture}" alt="Second slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>



        <form th:action="@{/review}" method="post" th:object="${reviewObj}">
<!--            <input type="hidden" th:field="*{truck}" th:value="${truck}">-->
            <input type="hidden" name="truckId" th:value="${truck.id}">
            <div class="rate">
                <input type="radio" id="star5" name="rate" value="5" th:field="*{rating}"/>
                <label for="star5" title="text">5 stars</label>
                <input type="radio" id="star4" name="rate" value="4" th:field="*{rating}"/>
                <label for="star4" title="text">4 stars</label>
                <input type="radio" id="star3" name="rate" value="3" th:field="*{rating}"/>
                <label for="star3" title="text">3 stars</label>
                <input type="radio" id="star2" name="rate" value="2" th:field="*{rating}"/>
                <label for="star2" title="text">2 stars</label>
                <input type="radio" id="star1" name="rate" value="1" th:field="*{rating}"/>
                <label for="star1" title="text">1 star</label>
            </div>
            <br><br><br>
            <textarea name="review" id="review" cols="100" rows="10" th:field="*{reviewText}" placeholder="Write your review here..."></textarea>
            <br>
            <button type="submit" value="Submit Review">Submit Review</button>
        </form>
    </div>

    <footer th:replace="partials :: footer"></footer>
